<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Code Test</title>
</head>

<body>
	<h1>Code Test</h1>
	<form action="/" method="post">
		<div>
			<select name="lang">
				<option value="Bash" {% if lang=="Bash" %}selected{% endif %}>Bash</option>
				<option value="C" {% if lang=="C" %}selected{% endif %}>C</option>
			</select>
		</div>
		<div>
			<textarea name="code" cols=60 rows=20>{{ code }}</textarea>
		</div>
		<div>
			<button>submit</button>
		</div>
	</form>

	<div>
		<div> status code: {{ result.status }} </div>
		<div>
			<div> stdout </div>
			{% for line in result.stdout %}
				<div> {{ line }} </div>
			{% endfor %}
		</div>
		<div>
			<div> stderr </div>
			{% for line in result.stderr %}
				<div> {{ line }} </div>
			{% endfor %}
		</div>
	</div>
</body>
</html>
